:root{
    --primary : #FFFF;
    --secondary :#be0101c7;
    --third :#bd211c;
    --fourth :hsl(0, 42%, 14%);
}

body {
    line-height: 1.6;
    width: 85%;
    margin: auto;
    background-image: url(milad-fakurian-qCYKtOov--s-unsplash.jpg);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 5px;
    border-bottom: 2px solid var(--primary)
}

.navbar a {
    color: var(--primary) ;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4em;
}

.red{
    color: var(--secondary);  
    
}
   
.header{
        color: var(--primary);
        text-align: center;
        padding: 1rem;
         
}
.header .two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .two .three{
    width: 40%;
   color:var(--primary);
   font-size: large;
}
.header .two .image {
    width: 40%; 
}
.header .two .image .side-img{
    width: 30%;
    height: 30%;
}

.primary-btn {
    color:var(--primary);
    background-color:var(--third);
    padding: 13px 42px;
    border-radius: 20px;
    text-decoration: none;
}
.container-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: large;
}
    
.container1, .container2 {
    width: 100%;
    box-sizing: border-box;
}
.container2{
    padding-left: 35%;
}
h1{
    font-size: 2.5em;
}
.container1 li{
    color: var(--primary);
}

.experiences {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    font-size: large;
 }

 .partie1,
 .partie2 { 
   width: 35%;
   box-sizing: border-box;
}

.contact {
    background-color: var(--fourth);
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
}

.footer{
    font-size: large;
    color:var(--primary);
}
h4{
    font-style: oblique;
    color:var(--primary);
}
h2{
    font-style: oblique;
    color:var(--primary);
}
h3{
    font-style: oblique;
    color:var(--primary); 
}
p{
    color: var(--primary);
}
.contact a{
    color: var(--secondary);
}

  
    